/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #fcc500;
}

.reveal a:hover {
  color: #d74343;
}

.reveal .slides > section.dclannion2017-intro  {
  padding-left: 4em;
  text-align: left;
  height: 400px;
  background-color: black;
  opacity: 0.7;
}

section.dclannion2017-intro h1 {
  font-size: 1.5em;
}

section.dclannion2017-intro h2 {
  font-size: 0.8em;
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}
section.dclannion2017-intro h2:before {
  content: "";
  width: 65px;
  height: 8px;
  background: #C21426;
}

footer .branding--logo {
  display: inline-block;
  float: left;
  margin-left: 1em;
  font-size: 0.5em;
  position: absolute;
  bottom: 0em;
}
footer .logo__image {
  display: inline-block;
  vertical-align: middle;
}
footer a.logo__image__lequipetech {
  background: url(../../lib/image/logo-lequipe-tech.svg);
  width: 150px;
  height: 54px;
  display: inline-block;
  text-indent: -9999px;
  background-size: 150px 50px;
  border: 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}
footer .logo__site-name {
  display: inline-block;
}

footer .session--info {
  display: inline-block;
  float: right;
  font-size: 0.5em;
  position: absolute;
  bottom: 0em;
  right: 5em;
}
footer .session__title, footer .session__presenter {
  display: inline-block; 
}

